* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.herosection {
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  background-size: cover;
  width: 100%;
  height: 450px;
  color: white;
  font-family: "Montserrat", serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.left > span {
  display: none;
}

.left,
.right {
  margin: 25px 0;
}

.navList > li {
  margin: 0 15px;
}

.logo,
.description {
  display: flex;
  justify-content: center;
  height: 60px;
  font-size: 36px;
  margin: 35px 0;
}

.ls {
  height: 53px;
  width: 776px;
  display: flex;
  margin: 35px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(245, 241, 241);
}

.line {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.line > div {
  background-color: grey;
  height: 50%;
  width: 1.5px;
}

.location {
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: black;
}

.location > label {
  display: flex;
  align-items: center;
}

.location > label > span {
  color: red;
  padding-right: 5px;
}

.location > select {
  /* padding-right: 120px; */
  border: none;
  outline: none;
  background-color: rgb(245, 241, 241);
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchBar > span {
  color: gray;
  font-size: 25px;
  padding-right: 10px;
}

.searchBar > input {
  border: none;
  outline: none;
  background-color: rgb(245, 241, 241);
  width: 250px;
}

.options {
  height: 260px;
  width: 70%;
  margin: 55px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.selection {
  height: 100%;
  width: 33.4%;
  border: 1px solid #dcdcdc;
  border-radius: 18px;
  overflow: hidden;
}

.selection:hover {
  transform: scale(1.1);
}

.image {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titDes {
  height: 30%;
  width: 100%;
  font-family: "Montserrat", serif;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titDes > :nth-child(1) {
  font-weight: 600;
}

.collections {
  width: 70%;
  height: 433px;
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat", serif;
}

.Cdes {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.Cdesr {
  display: flex;
  align-items: center;
  color: red;
}

.cbox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 320px;
  width: 100%;
  color: white;
  margin-top: 25px;
  font-weight: bold;
}

.CcontentOne {
  background-image: url("https://b.zmtcdn.com/data/collections/b6908536f32b2c4212548d5178451e9b_1734414834.png");
}

.CcontentTwo {
  background-image: url("https://b.zmtcdn.com/data/collections/f0c27b8de279de99da96b9620057c145_1712923153.png");
}

.CcontentThree {
  background-image: url("https://b.zmtcdn.com/data/collections/26663d5efa377704a8783795f32b6167_1727171295.png");
}

.CcontentFour {
  background-image: url("https://b.zmtcdn.com/data/collections/a862476becb90ae248589e44101b97d2_1709811922.jpg");
}

.CcontentOne,
.CcontentTwo,
.CcontentThree,
.CcontentFour {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid white;
  border-radius: 12px;
  padding: 15px;
  background-size: cover;
}

.locPop {
  width: 70%;
  height: 379px;
  margin: 55px auto;
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lpDes {
  font-size: 36px;
}

.lcPlace {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.lcPlace > div {
  width: calc(95% / 3);
  display: flex;
  padding: 20px 15px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.lpleft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lpright {
  height: 100%;
  display: flex;
  align-items: center;
}

.lpleft > :nth-child(1) {
  font-size: 22px;
}
.getapp {
  background-color: #fffbf7;
}

.magicc {
  width: 70%;
  height: 480px;
  margin: 55px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbf7;
  font-family: "Montserrat", serif;
  padding: 0 50px;
}

.galeft {
  height: 100%;
}

.galeft > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.garight {
  height: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.gahd {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gahead {
  font-size: 42px;
  font-weight: 600;
}
.gades > p {
  text-align: justify;
}

.gafd {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gaform {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.gafoption {
  display: flex;
  font-size: 18px;
}

.gafoption > div {
  display: flex;
  gap: 10px;
  accent-color: rgb(239, 79, 95);
  padding-right: 25px;
}

.gafms {
  display: flex;
  gap: 10px;
}

.gafms > input {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 70%;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Montserrat", serif;
}

.gafms > button {
  height: 48px;
  width: 30%;
  color: rgb(255, 255, 255);
  background-color: rgb(239, 79, 95);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Montserrat", serif;
}

.gadownapp {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: space-around;
}

.gadownapp > div > img {
  width: 25%;
  margin-right: 10px;
}

.explore {
  width: 70%;
  height: 490px;
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat", serif;
}

.explore > h1 {
  font-weight: 500;
  font-size: 30px;
}

.explore > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  font-size: 20px;
  padding: 25px;
}

.footer {
  background-color: #f8f8f8;
}

.magic {
  width: 70%;
  height: 506px;
  margin: 110px auto 0 auto;
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.frlogo {
  display: flex;
  align-items: center;
}

.frlogo > img {
  width: 25%;
}

.fregion {
  display: flex;
}

.coulan {
  display: flex;
  gap: 25px;
}

.cl {
  display: flex;
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 12px;
}

.cl > select {
  background-color: #f8f8f8;
  font-size: 16px;
  border: none;
  outline: none;
}

.azfls {
  height: 238.4px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.azfls > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.azfls > div > :nth-child(1) {
  font-size: 16px;
  margin-bottom: 15px;
}

.fcr {
  text-align: justify;
  font-size: 13px;
}

.socialLinks > div > i {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border-radius: 14px;
  margin-right: 5px;
}

.socialLinks > img {
  width: 50%;
  margin-top: 5px;
}

/* Mobile devices */
@media (max-width: 576px) {
  * {
    overflow-x: hidden;
  }

  .options,
  .collections,
  .explore,
  .magicc,
  .magic {
    width: 90%;
  }

  .left > span {
    display: block;
  }

  .left > p,
  .right {
    display: none;
  }

  .navbar {
    justify-content: flex-start;
    margin-left: 15px;
  }

  .ls {
    width: 80%;
    height: 100px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .line {
    display: none;
  }

  .location,
  .searchBar {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(245, 241, 241);
    padding: 0 15px;
  }

  .searchBar > input {
    width: 100%;
  }

  .location {
    justify-content: space-between;
  }

  /* .location > label {
    display: flex;
    align-items: center;
  } */

  .description {
    font-size: 26px;
    text-align: center;
  }

  .options {
    height: 520px;
    flex-wrap: wrap;
  }

  .selection {
    height: calc(96% / 2);
    width: calc(90% / 2);
  }
  .image {
    height: 60%;
  }

  .titDes {
    height: 40%;
    font-size: 11px;
  }

  .Cdes {
    font-size: 12px;
  }

  .Cdesr > span {
    padding-right: 3px;
  }

  .cbox {
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 15px;
  }

  .CcontentOne,
  .CcontentTwo,
  .CcontentThree,
  .CcontentFour {
    width: calc(90% / 2);
  }

  .locPop {
    width: 90%;
    height: 1024px;
  }

  .lcPlace > div {
    width: calc(100% / 1);
  }

  .lpDes {
    font-size: 27px;
  }

  .magicc {
    margin: 0 auto;
  }

  .garight {
    padding-right: 0;
  }

  .galeft {
    display: none;
  }

  .gahead {
    font-size: 36px;
    font-weight: 600;
  }

  .gafoption {
    font-size: 15px;
  }

  .gaform {
    height: 100px;
  }

  .gafms > input {
    font-size: 15px;
  }
  .gafms > button {
    font-size: 12px;
  }

  .gadownapp > div > img {
    width: 45%;
  }

  .explore {
    height: 490px;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    font-family: "Montserrat", serif;
  }

  .explore > h1 {
    font-size: 28px;
  }

  .explore > div {
    font-size: 16px;
    padding: 20px;
  }

  .explore > div > span {
    padding-right: 10px;
    font-size: 18px;
  }

  .magic {
    height: 700px;
    margin: 15px auto;
  }

  .fregion {
    flex-direction: column;
    gap: 20px;
  }

  .cl {
    padding: 5px;
  }

  .cl > label {
    display: flex;
    align-items: center;
  }

  .cl > label > span {
    font-size: 18px;
  }

  .cl > select {
    font-size: 14px;
  }

  .azfls {
    height: 480px;
    flex-wrap: wrap;
    gap: 18px;
  }

  .socialLinks > img {
    display: none;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .navbar {
    font-size: 15px;
  }

  .ls,
  .options,
  .collections,
  .explore {
    width: 90%;
  }

  .searchBar > input {
    width: auto;
  }

  .description {
    font-size: 30px;
    text-align: center;
  }

  .titDes {
    font-size: 11px;
  }

  .Cdes {
    font-size: 14px;
  }

  .cbox {
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
  }

  .CcontentOne,
  .CcontentTwo,
  .CcontentThree,
  .CcontentFour {
    width: calc(95% / 3);
  }

  .locPop {
    width: 90%;
    height: 440px;
  }

  .lcPlace > div {
    width: calc(90% / 3);
  }

  .lpDes {
    font-size: 27px;
  }

  .lpleft {
    font-size: 16px;
  }

  .lpleft > :nth-child(1) {
    font-size: 18px;
  }

  .magicc {
    margin-top: 0;
    width: 100%;
  }

  .gahead {
    font-size: 25px;
  }

  .gafoption {
    font-size: 16px;
  }

  .gafms > input {
    font-size: 16px;
  }

  .gafms > button {
    font-size: 12px;
  }

  .gadownapp > div > img {
    width: 35%;
  }

  .magic {
    width: 90%;
    margin-top: 0;
  }

  .cl {
    padding: 5px;
  }

  .cl > select {
    font-size: 12px;
  }

  .azfls {
    font-size: 10px;
    gap: 40px;
  }

  .azfls > div > :nth-child(1) {
    font-size: 12px;
  }

  .frlogo > img {
    width: 35%;
  }
}

/* Small desktops */
@media (min-width: 769px) and (max-width: 1090px) {
  .ls {
    width: 90%;
  }
  .options {
    width: 90%;
  }
  .collections {
    width: 90%;
  }

  .cbox {
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
  }

  .CcontentOne,
  .CcontentTwo,
  .CcontentThree,
  .CcontentFour {
    width: calc(95% / 3);
  }

  .locPop {
    width: 90%;
  }

  .magicc {
    width: 90%;
  }

  .explore {
    width: 90%;
  }

  .magic {
    width: 90%;
  }

  .azfls {
    gap: 30px;
  }
  /* Styles for small desktops */
}

/* Large desktops */
@media (min-width: 1025px) {
  /* Styles for large desktops */
}
